.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  padding: 1rem 0.8rem;
  background-color: transparent;
  top: 0;

  .container {
    margin: 0 auto;
    display: flex;
    width: 90%;
    max-width: 75rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-brand-4);
    border-radius: 25px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    height: 4.5rem;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
  }

  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: all 0.3s ease;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.sideMenu {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background-color: white;
  z-index: 1002;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  &.open {
    right: 0;
  }

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    font-family: var(--font-family1);

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    .closeButton {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #ff0000;
    }
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid #eee;

        a {
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: #333;
          transition: background-color 0.2s ease;
          font-family: var(--font-family1);
          font-weight: var(--font-weight1);

          &:hover {
            background-color: #f5f5f5;
            font-weight: var(--font-weight2);
            color: var(--color-brand-5);
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    right: -80%;
  }
  to {
    right: 0;
  }
}

.sideMenu.open {
  animation: slideIn 0.3s forwards;
}
